#root {
    margin:0 auto;
    
}


.main {
    width: 100%;
    margin: 0 auto;
    float: right;
    flex-direction: row
}

.part {
    width: 680px;
    height: 350px;
    color: rgb(90, 88, 84);
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: rgba(247, 247, 247, 0.151);
    display: flex;
    float: left;
    border-radius: 15px;
    box-shadow: 0 30px 60px -12px rgba(59, 59, 92, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    
}

.imges {
    object-fit: cover;
    margin: 20px 15px 20px 15px;
    width: 230px;
    
}

.imges img {
    
    max-width: 230px;
    max-height: 300px;
    width: 100%;
    border-radius: 15px;
}

.title {
    margin-left: 10px;
}

.title h2 {
    color: rgb(255, 255, 255);
}

.title p {
    height: 170px;
    width: 300px;
    overflow: auto ;
}



.genre ul{
    display: flex;
    margin-left: -15px;
}

.genre li{
    margin-right: 25px;
    
}